

  <h1>Messages</h1>

  <h3>********Listing Messages**********</h3>
  <br>
  <div class="row">
    <div class ="col-md-1">
      House Id
    </div>
    <div class ="col-md-2">
     Subject
    </div>
    <div class ="col-md-3">
      Query
    </div>
    <div class ="col-md-1">
      HH Id
    </div>
    <div class ="col-md-3">
      Reply
    </div>


  </div>

  <hr>
  <%@messages.each do |message| %>
    <div class="row">
      <div class ="col-md-1"><%= message.house_id %></div>|
        <div class ="col-md-2"><%= message.subject %></div>|
          <div class ="col-md-3"><%= message.query %></div>|
            <div class ="col-md-1"><%= message.house_hunter_id %></div>|
              <div class ="col-md-3"><%= message.reply %></div>|

      <% if session[:role] == "hunter" && message.house_id.to_s ==  session[:user_id].to_s %>
        <div class ="col-md-2"><%= link_to 'Edit', edit_message_path(message) %>  /
      <%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>
      <% if session[:role] == "realtor" &&  @company_id.to_s == message.companyId.to_s %>
        <div class ="col-md-2"> <%= link_to 'Reply', edit_message_path(message) %> </div>
      <%end %>
    </div>
  <% end %>


<br>

