<p id="notice"><%= notice %></p>

<p>
<td><%= @message.house_id %></td>
<td><%= @message.subject %></td>
<td><%= @message.query %></td>
<td><%= @message.house_hunter_id %></td>
<td><%= @message.reply %></td>


</p>
