


<div class="container-fluid">
  <h1>Welcome <%= session[:role].upcase %>!</h1>
  <br>
  <% if flash[:noticeadu] %>
    <p class="flash-notice"><%= flash[:noticeadu] %></p>
  <% end %>
  <% if session[:role] == "admin" %>
    <%= link_to 'View Companies', { :controller => "companies", :action =>"index"} , :class => "btn btn-primary"%> &nbsp;&nbsp;&nbsp;
    <%= link_to 'View Realtor', { :controller => "realtors",  :action =>"index"} , :class => "btn btn-primary"%>&nbsp;&nbsp;&nbsp;
    <%= link_to 'View House Hunters', { :controller => "house_hunters",  :action =>"index"} , :class => "btn btn-primary"%>&nbsp;&nbsp;&nbsp;

    <%= link_to 'View Houses', {:controller => "houses",  :action =>"index"} , :class => "btn btn-primary"%>&nbsp;&nbsp;&nbsp;
    <%= link_to 'View Messages', {:controller => "messages",  :action =>"index"} , :class => "btn btn-primary"%>&nbsp;&nbsp;&nbsp;
<br><br><br>
    <div class="row">
    <div class="col-sm-3 col-md-2" >
      <p>Name:</p>
    </div>
    <div class="col-sm-3 col-md-3" >
      <p><%= @admin.name%></p>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-3 col-md-2" >
        <p>Email:</p>
      </div>
    <div class="col-sm-3 col-md-3">
      <p><%= @admin.email%></p>
    </div>
    </div>
      <div class="row">
      <button class="btn   btn-primary btn-block col-md-2">   <%= link_to 'Edit', { :action =>"show"} , :class => "color_id"%> </button>
      </div>
    <br/><br/>
     <% end %>

  <% if session[:role] == "realtor" %>
    <%= link_to 'View Companies', { :controller => "companies", :action =>"index"} , :class => "btn btn-primary"%> &nbsp;&nbsp;&nbsp;
    <%= link_to 'View Potential Buyers', { :controller => "house_hunters",  :action =>"index"} , :class => "btn btn-primary"%> &nbsp;&nbsp;&nbsp;

    <%= link_to 'View Houses', {:controller => "houses",  :action =>"index"} , :class => "btn btn-primary"%>&nbsp;&nbsp;&nbsp;
    <%= link_to 'View Messages', {:controller => "messages",  :action =>"index"} , :class => "btn btn-primary"%>&nbsp;&nbsp;&nbsp;
<br><br><br>
    <div class="row">
      <div class="col-sm-3 col-md-2" >
        <p>Name:</p>
      </div>
      <div class="col-sm-3 col-md-3" >
        <p><%= @realtor.name%></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-2" >
        <p>Email:</p>
      </div>
      <div class="col-sm-3 col-md-3">
        <p><%= @realtor.email%></p>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-3 col-md-2" >
        <p>Phone Number:</p>
      </div>
      <div class="col-sm-3 col-md-3">
        <p><%= @realtor.phoneNumber%></p>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-3 col-md-2" >
        <p>Company:</p>
      </div>
      <div class="col-sm-3 col-md-3">
        <p><%= @realtor.companyId%></p>
      </div>

    </div>
    <div class="row">
      <button class="btn btn-primary btn-block col-md-2">   <%= link_to 'Edit', edit_realtor_path(@realtor), :class => "color_id"%> </button>
    </div>
    <br/><br/>
     <% end %>

  <% if session[:role] == "hunter" %>
    <%= link_to 'View Companies', { :controller => "companies", :action =>"index"} , :class => "btn btn-primary"%>&nbsp;&nbsp;&nbsp;
    <%= link_to 'View House Hunters', { :controller => "house_hunters",  :action =>"index"} , :class => "btn btn-primary"%> &nbsp;&nbsp;&nbsp;
    <%= link_to 'View Houses', {:controller => "houses",  :action =>"index"} , :class => "btn btn-primary"%>&nbsp;&nbsp;&nbsp;
    <%= link_to 'View Messages', {:controller => "messages",  :action =>"index"} , :class => "btn btn-primary"%>&nbsp;&nbsp;&nbsp; <br><br><br>
<br>
    <div class="row">
      <div class="col-sm-3 col-md-1" >
        <p>Name:</p>
      </div>
      <div class="col-sm-3 col-md-3" >
        <p><%= @house_hunter.name%></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-3" >
        <p>Email:</p>
      </div>
      <div class="col-sm-3 col-md-3">
        <p><%= @house_hunter.email%></p>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-3 col-md-3" >
        <p>Phone Number:</p>
      </div>
      <div class="col-sm-3 col-md-3">
        <p><%= @house_hunter.phoneNumber%></p>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-3 col-md-1" >
        <p>Preferred Contact:</p>
      </div>
      <div class="col-sm-3 col-md-3">
        <p><%= @house_hunter.preferred_contact%></p>
      </div>

    </div>
    <div class="row">
      <button class="btn  btn-primary btn-block col-md-2">   <%= link_to 'Edit',edit_house_hunter_path(@house_hunter) , :class => "color_id"%> </button>
    </div>
    <br/><br/>

<% end %>


</div>