
  <h1>Houses</h1>

  <h3>********Listing Houses**********</h3>
  <br>
  <div class="row">
    <div class ="col-md-1">
      Company Id
    </div>
    <div class ="col-md-1">
      Realtor Id
    </div>
    <div class ="col-md-2">
      Address
    </div>
    <div class ="col-md-1">
      Square Feet
    </div>
    <div class ="col-md-1">
     Style
    </div>
    <div class ="col-md-1">
      Year
    </div>
    <div class ="col-md-1">
      Basement
    </div>
    <div class ="col-md-1">
      Floor
    </div>

  </div>

  <hr>
  <% @houses.each do |house| %>
<div class="row">
    <div class ="col-md-1"><%= house.company_id %></div>|
    <div class ="col-md-1"><%= house.realtor_id %></div>|
    <div class ="col-md-2"><%= house.address %></div>|
    <div class ="col-md-1"><%= house.sq_ft %></div>|
    <div class ="col-md-1"><%= house.style %></div>|
    <div class ="col-md-1"><%= house.year %></div>|
    <div class ="col-md-1"><%= house.basement %></div>|
    <div class ="col-md-1"><%= house.floor %></div>|

      <% if session[:role] == "admin" || (session[:role] == "realtor" && (house.realtor_id.to_s == session[:user_id].to_s ) ) %>

      <div class ="col-md-1"> <%= link_to 'Edit', edit_house_path(house) %> /
        <%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>

      <% if session[:role] == "realtor" && session[:comp_id] = house.company_id%>

    <%session[:house_id]=house.id %>
    <div class ="col-md-1">   <%= link_to 'Upload Photo', {:controller =>"photos",:action =>"new"} %></div>

<% end %>
  <% if session[:role] == "hunter"%>

    <% Photo.uncached do
     @photo=  Photo.find_by_house_id(house.id)
    end%>

    <% if @photo%>

    <div class ="col-md-2"> <%= link_to 'View Photo', {:controller =>"photos",:action =>"serve", :id => @photo.id} , method:"get"%>/
    <% end %>
      <%= link_to 'Inquire', {:controller => "messages", :action => "new" }%>/
        <%= link_to 'Mark Interested', edit_house_path(house) %> </div>
      <%end %>
<hr>
</div>
  <% end %>


<br>
  <% if session[:role] != "hunter"%>
<%= link_to 'Add House', {:action =>"new"} , :class => "btn btn-primary"%> <br/><br/>
  <% end %>