<h1>Companies</h1>

<h1>Listing Companies</h1>

<table>
  <thead>
  <tr>
    <th>Company Id</th>
    <th>Realtor_id</th>

    <th>Address</th>
    <th>Square Feet</th>
    <th>Style</th>
    <th>Year</th>
    <th>Basement</th>
    <th>Floor</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @houses.each do |house| %>
    <tr>
      <td><%= house.company_id %></td>
      <td><%= house.realtor_id %></td>
      <td><%= house.address %></td>
      <td><%= house.sq_ft %></td>
      <td><%= house.style %></td>
      <td><%= house.year %></td>
      <td><%= house.basement %></td>
      <td><%= house.floor %></td>

      <% if session[:role] == "admin" || (session[:role] == "realtor" && (house.realtor_id.to_s == session[:user_id].to_s ) ) %>

    <td> <%= link_to 'Edit', edit_house_path(house) %> </td>
      <td><%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>

      <% session[:comp_id] = house.company_id%>

      <% if session[:role] == "hunter"%>
        <td> <%= link_to 'Inquire', {:controller => "messages", :action => "new" }%> </td>
        <td> <%= link_to 'Mark Interested', edit_house_path(house) %> </td>
      <%end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add House', {:action =>"new"} , :class => "btn btn-primary"%> <br/><br/>