<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>

<td><%= @house.company_id %></td>
<td><%= @house.realtor_id %></td>
<td><%= @house.address %></td>
<td><%= @house.sq_ft %></td>
<td><%= @house.style %></td>
<td><%= @house.year %></td>
<td><%= @house.basement %></td>
<td><%= @house.floor %></td>
</p>
