<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
<td><%= @realtor.name %></td>
<td><%= @realtor.email %></td>
<td><%= @realtor.companyId %></td>
<td><%= @realtor.phoneNumber %></td>
</p>
