<h1 >Companies</h1>

<h3>********Listing Companies**********</h3>


  <div class="row">
    <div class ="col-md-1">
      Company Id
    </div>
    <div class ="col-md-1">
      Name
    </div>
    <div class ="col-md-2">
    Website
    </div>
    <div class ="col-md-2">
      Address
    </div>
    <div class ="col-md-1">
      Size
    </div>
    <div class ="col-md-1">
      Founded
    </div>
    <div class ="col-md-1">
  Revenue
    </div>
    <div class ="col-md-1">
    Synopsis
    </div>
  </div>

  <hr>
  <% @companies.each do |company| %>
    <div class="row">
      <div class ="col-md-1"><%= company.company_id %></div>|
      <div class ="col-md-1"><%= company.name %></div>|
      <div class ="col-md-2"><%= company.website %></div>|
      <div class ="col-md-2"><%= company.address %></div>|
      <div class ="col-md-1"><%= company.size %></div>|
      <div class ="col-md-1"><%= company.founded %></div>|
      <div class ="col-md-1"><%= company.revenue %></div>|
      <div class ="col-md-1"><%= company.synopsis %></div>|

        <% if session[:role] == "admin" || (session[:role] == "realtor" && @realtor_company == company.company_id) %>
        <div class ="col-md-1"> <%= link_to 'Edit', edit_company_path(company) %>  /

       <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <%end %>


    </div>
  <hr/>
  <% end %>


<br>

<%= link_to 'Add Companies', {:controller =>'companies', :action =>"new"} , :class => "btn btn-primary"%> <br/><br/>