
<h1>Advanced Search</h1>

<%= form_for @search, html:{class:"pure-form"} do  |s| %>

  <div class="field">
    <%= s.label :location %><br>
    <%= s.select(:location,options_for_select([['Select','Select'],['Avent Ferry','Avent Ferry'],['Gorman','Gorman']]))%>
    <br>
  </div>

  <div class="field">
    <%= s.label :min_sq_ft %><br>
    <%= s.text_field :min_sq_ft %><br>
  </div>

  <div class="field">
    <%= s.label :max_sq_ft %><br>
    <%= s.text_field :max_sq_ft %><br>
  </div>

  <div class="field">
    <%= s.label :min_price %><br>
    <%= s.text_field :min_price %><br>
  </div>

  <div class="field">
    <%= s.label :max_price %><br>
    <%= s.text_field :max_price %><br>
  </div>

  <div class="actions"><%= s.submit "Search", class:"pure-button pure-button-primary" %></div>

<%end %>

<p><%=link_to "Back",houses_path %></p>

