<h1 >House Hunters</h1>

<h3>********Listing House Hunters**********</h3>
<br>
  <div class="row">
    <div class ="col-md-2">
      Name
    </div>
    <div class ="col-md-2">
      E-mail
    </div>
    <div class ="col-md-2">
      Preferred Contact
    </div>
    <div class ="col-md-2">
      Phone Number
    </div>

  </div>

  <hr>
  <% @house_hunters.each do |house_hunter| %>

<div class="row">
  <div class ="col-md-2"><%= house_hunter.name %></div>|
  <div class ="col-md-2"><%= house_hunter.email %></div>|
  <div class ="col-md-2"><%= house_hunter.preferred_contact %></div>|
  <div class ="col-md-2"><%= house_hunter.phoneNumber %></div>|
      <% if session[:role] == "admin" %>
    <div class ="col-md-2"> <%= link_to 'Edit', edit_house_hunter_path(house_hunter) %> /
      <%= link_to 'Destroy', house_hunter, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>
<hr>
  <br>
</div>
  <% end %>


<br>
<% if session[:role] == "admin" %>
<%= link_to 'Add House Hunter', { :action =>"new"} , :class => "btn btn-primary"%> <br/><br/>
<%end %>