<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @house_hunter.name %>
  <strong>E-mail:</strong>
<td><%= @house_hunter.email %></td>
<strong>Preferred Contact:</strong>
<td><%= @house_hunter.preferred_contact %></td>
<strong>Phone Number:</strong>
<td><%= @house_hunter.phoneNumber %></td>

</p>
