
<% if flash[:notice] %>
  <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
  <p class="flash-error"><%= flash[:alert] %></p>
<% end %>
<div  class="row">
  <div class="  col-md-4 offset-md-4">
<%= form_for(:signinform, :url =>{action: "validate"}, method: "post" )do |f| %>

  <div class="col-xs-4 form-group">

    <%= f.text_field :email, autofocus: true, autocomplete: "name",  placeholder: "Email address" , :class => "col-xs-4 form-control"  %>
  </div>

  <div class="col-xs-4 form-group">


    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" , placeholder: "Password" , :class => " col-xs-4 form-control"  %>
  </div>



  <div class="actions">
    <%= f.submit "Sign In", {:class => "btn btn-lg btn-primary btn-block"} %>
  </div> <br/>
  <button class="btn btn-lg btn-primary btn-block">   <%= link_to 'Register', {:controller => "signup", :action =>"new"} , :class => "color_id"%> </button>


<% end %>
</div>
</div>